#
# Instructions:
#
# 1. Rename this file to terraform.tfvars
# 2. Set your AWS credentials using the environment variables AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY
# 3. Fill in the variables below
#

# The ID of the AMI created by the packer-example
ami = ""

# The name of a Key Pair that you've created in AWS and have saved on your computer. You will be able to use this Key Pair to SSH to the EC2 instance.
key_pair_name = ""